*{
    font-family: Arial, Helvetica, sans-serif;
}

/* variables */
:root {
    --primaryPink: #FADADE;
    --primaryRed: #B72D37;
    --secondaryPink: #98414D;
    --secondaryRed:#4E1317;
    --black: #222223;
    --white: #F8F8F8;
    --darkGrey: #757578;
    --lightGrey: #D2D2D7;
}
h1 {
    font-weight: 900;
    font-size: 6vw;
    text-transform: uppercase;  
    letter-spacing: 0.35em;
}
h2 {
    font-weight: 900;
    font-size: 3vw;
    text-transform: uppercase;  
    letter-spacing: 0.3em;
}
h3 {
    font-weight: 100;
    font-style: italic;
    font-size: 2vw;
    text-transform: uppercase;  
    letter-spacing: 0.3em;
}
h4 {
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
    text-transform: uppercase;  
    letter-spacing: 0.15em;
    color: var(--primaryRed);
}
h5 {
    font-weight: 100;
    font-style: italic;
    font-size: 24px;
    text-transform: uppercase;  
    letter-spacing: 0.15em;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8em;
}
button {
    border: 2px solid;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding: 8px 24px;
}
.navbar-brand {
    color: var(--black);
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;  
    letter-spacing: 0.3em;
}
.nav-item {
    color: var(--black);    
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;  
    letter-spacing: 0.3em;
}
.nav-item:hover {
    color: var(--primaryRed);
}

.my-bg-color {
    background-color: var(--white);
}
.hr-menu {
    width: 100%; /* Asegura que ocupe todo el ancho posible del li */
    margin: 0; /* Quita margen adicional */
    border: solid black 1px;
    color: black;
    min-width: 150px; /* Establece un tamaño mínimo */
    opacity: 100;
}

/* CARROUSEL MODELOS*/
.horizontal-carousel h2 {
    margin-bottom: 30px;
}

.swiper-slide img {
    /* width: 100%;
    height: auto; */
    aspect-ratio: 4/3;
    object-fit: cover;
}

/* .swiper-slide {
    aspect-ratio: 4/3;
} */

/* CARROUSEL CARDS */

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-slide .card {
    width: 100%;
    max-width: 34vw; 
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 0;
}
