*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

/* variables */
:root {
    --TipoTitles:"Montserrat", sans-serif;
    --darkBack: rgb(0, 24, 1);
    --lightText: rgb(247, 234, 241);
    --tierra: rgb(218, 192, 165);
    --bosque:rgb(89, 86, 27);
    --agua: rgb(127, 142, 139);
    --gap: 6vw;
    --b: rgb()
}

.my-bg-color {
    background-color: pink;
}
.hr-menu {
    width: 100%; /* Asegura que ocupe todo el ancho posible del li */
    height: 5px; /* Grosor del hr */
    margin: 0; /* Quita margen adicional */
    background-color: #ffffff; /* Color del hr, puedes ajustarlo */
    min-width: 150px; /* Establece un tamaño mínimo */
}

.hr-container {
    display: flex; /* Permite que el contenido del li se ajuste */
    justify-content: center; /* Centra el hr dentro del li */
    align-items: center;
}